#page_wrapper
  #profile_image
    = image_tag "profile.png"
  #content
    %h1 Something about us
    %p Disrupt farm-to-table tofu, umami sustainable tacos whatever butcher thundercats vinyl pork belly. Pinterest fingerstache gochujang hella poutine, etsy flannel cardigan kombucha cred chartreuse photo booth chambray meditation asymmetrical. Distillery meh single-origin coffee gochujang seitan beard. Affogato tousled raw denim food truck, 3 wolf moon vice umami PBR&B man bun craft beer single-origin coffee. Four loko mumblecore banjo leggings artisan mlkshk. Seitan listicle actually chia. Blue bottle kale chips church-key keffiyeh keytar, cronut literally cardigan put a bird on it pitchfork lo-fi kickstarter flexitarian.